/Pony.zip
/tools/bin/pony.n
/tools/bin/pony.exe
/tools/bin/pony.js
/tools/bin/pony
/tests/dump/
/tests/build/
/tests/report/
/tests/\.unittest/
/tests/test/TestSuite.hx
/socketTests/CSSocket/
/api/
*.dump
.DS_Store