version: "{build}"

environment:
  global:
    HAXELIB_ROOT: C:\projects\haxelib

install:
  - ps: Set-Service wuauserv -StartupType Manual
  # Install the haxe chocolatey package (https://chocolatey.org/packages/haxe)
  - cinst haxe -y
  - RefreshEnv
  # Setup haxelib
  - mkdir "%HAXELIB_ROOT%"
  - haxelib setup "%HAXELIB_ROOT%"
  # Install test dependencies
  #- cinst phantomjs -y
  #- cinst php -y
  # Download and setup a standalone flash player debugger
  #- haxe flash/install.hxml
  # Install project dependencies
  # `> log.txt || type log.txt` is for muting the output unless there is an error
  - haxelib install munit || type log.txt && cmd /C exit 1
  - haxelib install hamcrest || type log.txt && cmd /C exit 1
  - haxelib install continuation || type log.txt && cmd /C exit 1
  - haxelib list
  - set PATH=%PATH%;C:\Program Files\AppVeyor\BuildAgent\
  - ps: $env:path

# We don't use the build section, but do both build and 
# test in `test_script:`.
# It is just because it is more similar to the TravisCI config,
# thus it would be easier to update both of them.
build: off

test_script:
  - haxelib dev pony .
  - haxelib run pony
  - cd tests
  - cmd: test.cmd | neko Appveyor.n